@font-face {
  font-family: 'SUIT';
  src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT-Regular.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 100 900;
  font-style: normal;
}

body {
  @apply font-sans;
}
